<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif;">
        <table style="width: 100%; border-collapse: collapse; border: 1px solid black;">
            <tr>
                <th style="width: 30%; font-weight: bold; border-bottom: 1px solid black;">Name:</th>
                <td style="border-bottom: 1px solid black;">Title</td>
            </tr>
            <tr>
                <th style="width: 30%; font-weight: bold; border-bottom: 1px solid black;">Email:</th>
                <td style="border-bottom: 1px solid black;">email@example.com</td>
            </tr>
            <tr>
                <th style="width: 30%; font-weight: bold; border-bottom: 1px solid black;">Service Type:</th>
                <td style="border-bottom: 1px solid black;">Contenido del tipo de servicio</td>
            </tr>
            <tr>
                <th style="width: 30%; font-weight: bold; border-bottom: 1px solid black;">Budget:</th>
                <td style="border-bottom: 1px solid black;">Contenido del presupuesto</td>
            </tr>
            <tr>
                <th style="width: 30%; font-weight: bold;">Project Type:</th>
                <td>Contenido del tipo de proyecto</td>
            </tr>
            <tr>
                <th style="width: 30%; font-weight: bold; border-bottom: 1px solid black;">Description:</th>
                <td style="border-bottom: 1px solid black;">Contenido de la descripción</td>
            </tr>
        </table>
    </div>
</body>
</html>