@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color-scheme: dark; */
  --foreground: #2B2E36;
  --foreground-2: #131313;
  --foreground-3: #595959; /*696969; gray*/
  --foreground-4: #595959; /*696969; gray*/
  /*--foreground-3: #575757; /*696969; gray*/
  --background: white;
  --background-2: #f2f2f2;
  --semitransparent-bg: rgba(0,0,0,0.6);
  --semitransparent-bg-2: rgba(0,0,0,0.10);
  --semitransparent-bg-3: rgba(0,0,0,0.3);
  --btn-cta: #F9AD05;
  --btn-cta-2: #131313;
  --yellow: #F9AD05;
  --yellow-2: rgb(249, 173, 5, 0.6);
  --violet: #32004f;
  --violet-2: #4b0077;
  --blue: #0055ff;
  --blue-2: #21d6ef;
  /* --foreground: black!important; 
  --foreground-2: #2B2E36;
  --background: white;
  --background-2: #f2f2f2;
  --background-3: rgba(255,255,255, .3);
  --pink-primary: #9365B1;
  --pink-secondary: #9365b180;
  --blue:#104FFF; */
}

[data-theme='dark'] {
  --foreground: #CECECE;
  --foreground-2: #F9AD05;
  --foreground-3: #cecece; /*gray*/
  --foreground-4: white; /*gray*/
  --background: #1F1F21;
  --background-2: #131313; /*Backgrounnd buttons*/
  --semitransparent-bg: rgba(0,0,0,0.3);
  --semitransparent-bg-2: rgba(249,173,5,0.07);
  --semitransparent-bg-3: rgba(33,214,239,0.4);
  /* --semitransparent-bg-3: rgba(249,173,5,0.4); */

  --btn-cta: #F9AD05;
  --btn-cta-2: #131313!important;
  --yellow: #F9AD05;
  --yellow-2: rgb(249, 173, 5, 0.6);
  --violet: #32004f;
  --violet-2: #4b0077;
  --blue: #0055ff;
  --blue-2: #21d6ef;
  /* --foreground: white!important; 
  --foreground-2: #CECECE;
  --background: #121314;
  --background-2: #1D1D1D; /* card bg *
  --background-3: rgba(6,6,6, .3);
  --semitransparent-bg: rgba(0,0,0,0.5);
  --pink-primary: #9850F2;
  --pink-secondary: #9850F2; */
}

html {
  scroll-behavior: smooth;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background-color: var(--background);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-rubik);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.secondary-font {
  font-family: var(--font-great-vibes);
}
.no-bg-scroll {
  /* overflow-x: hidden; */
  /* overflow-y: scroll !important; */
  overflow: hidden;
  position: fixed;
  width: 100%;
  top:-200px;
}
.icon {
  height: 24px;
  width: 24px;
  min-height: 24px;
  min-width: 24px;
  cursor: pointer;
}
